* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #EA8033;
    transition-duration: .5s;
}

li {
    list-style: none;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,
select,
textarea {
    outline: none;
}

.container {
    width: 1200px;
}

.icon {
    padding: 0 49.13px 0 49.13px;
    font-size: 12px;
    font-family: "SF Pro Text", sans-serif;
    color: #00000099;

}

.icon:hover {
    transition-duration: .5s;
    color: #EA8033;
}

.sticky {
    top: 0;
    width: 100%;
}
.menu {
    display: flex;
    align-items: center;
    max-width: 100%;
    position: fixed;
    z-index: 100000;
    background-color: rgba(240, 240, 240, 0.8);
    justify-content: center;
    left: 0;
    right: 0;

}

.header-list {
    display: flex;
    justify-content: center;
    font-size: 14px;
    padding: 10px 0px;
}

.logo {
    padding: 10px;
    max-width: 100%;
}

.logo>img {
    max-width: 200px;
}

.header-menu-ul {
    position: relative;
    display: flex;
    margin-bottom: 0px;
}

.header-menu-ul>li {
    position: relative;
    padding: 19px 16px 19px;
    font-size: 14px;
    font-weight: bold;
}

.header-menu-ul li a {
    position: relative;
    transition: .5s;
}

.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 50px 0;
}

.price {
    color: #00000099;
    font-size: 14px;
}

.item {
    width: calc((100% - 60px) / 4);
    padding: 6.5px;
}

.item-1 {
    width: calc((100% - 60px) / 4);
    padding: 6.5px;
}

.item:first-child {
    width: calc(50% - 10px);
}

.item-img {
    border-radius: 10px;
    box-shadow: 0px 0px 13px 0px #00000040;
    overflow: hidden;
}

.item-name {
    font-size: 14px;
    font-weight: bold;
    color: #000;
}

.item-name:hover {
    color: #EA8033;
    transition-duration: .5s;
}

.img-block {
    display: flex;
    flex-wrap: nowrap;
    padding: 20px;
}

.img-left {
    width: 50%;
}

.img-right {
    width: 50%;
}

.center-paragraph {
    padding: 30px;
}

.color-list {
    background-color: #FFF7E6;
}

.list-header {
    width: 100%;
    text-align: center;
    padding: 20px;
}

.list-paragraph {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px 0;

}

.list-paragraph-items {
    width: calc((100% - 30px) / 3);
    padding: 6.5px;
    font-size: 14px;
}

.img-scale {
    transform: scale(1);
    transition: .3s ease-in-out;
}

.img-scale:hover {
    transform: scale(1.1);
}

.button {
    border: 1px solid #1D3157;
    background-color: #1D3157;
    border-radius: 8px;
    color: #fff;
    padding: 8px 50px 8px 50px;

}

.button:hover {
    background-color: #EA8033;
    transition-duration: .5s;
    border: 1px solid #EA8033;
}

.footer {
    background-color: #262626;
    padding: 30px;
}

.footer-column {
    display: flex;
}

.footer-column>.item-column {
    width: 25%;
    color: #fff;
    font-size: 12px;
}

.item-column>.footer-ul {
    padding: 0px;
}

.item-column>h3 {
    font-size: 15px;
}

.footer-ul>li {
    padding: 7px;
    padding-left: 0px;
}

.footer-ul li span {
    font-size: 15px;
}

.header-product-main2 {
    padding-top: 50px;
    font-weight: bold;
}

.footer-item>i {
    padding: 5px;
}